 .app{
    background: #000;
    /* background: linear-gradient(to bottom,   #000 10%,   #010e10  60%, #111 100%); */
    color: cornsilk;
    transition-timing-function: ease-in;
    transition: 0.2s linear;
 }